*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root{
  --backgrounInput :#E8E8E8;
  --blueDark: #2B3D5E;
  --blueLigth:#6490c7;
  --blueDarkLigth:#4672a5;  
  --lightSand:#f8eac9;
}


body{
  -webkit-font-smoothing: antialiased; /* Mejora la renderización de fuentes en navegadores WebKit */
  -moz-osx-font-smoothing: grayscale; /* Mejora la renderización de fuentes en Firefox */
  background-color: #ffffff; /* Fondo blanco por defecto */
  color: #000000; /* Color de texto predeterminado */
  line-height: 1.5; /* Espaciado entre líneas */
  overflow-x: hidden; /* Evita el desplazamiento horizontal no deseado */
}


#root{
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% del viewport */
  display: flex;
  flex-direction: column; /* Diseño en columna para facilitar la estructura de la página */
  flex: 1;
  overflow-x: hidden;
}

.color-blue-dark{
  color: var(--blueDark)
}

.background-blue-dark{
  background-color: var(--blueDark)
}

.color-blue-ligth{
  color: var(--blueLigth)
}

#searchInput:focus{
  outline: none;
}

#searchInput{
  border: none;
  background: #EAE7EF;
  height: 48px;
  width: 100%;
  border-radius: 28px;
  color:#47464F;
  font-size: 16px;
  padding: 0px 20px;
}


.scrollable-container {

  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Estilos para navegadores WebKit */
.scrollable-container::-webkit-scrollbar {
  width: 12px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}



/* Contenedor principal */
.video-background-container {
  position: relative;
  width: 100%;
  height: calc(56.25vw); /* Altura completa de la pantalla */
  overflow: hidden;
  opacity: 1;
  z-index: 1;
  background-color: #3c4059;
  transition: all 0.4s ease;
}

.video-background-container.active {
  /* Define aquí los estilos para el estado activo */
  background-color: rgba(0, 0, 0, 0.2);
}

/* Video de fondo */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2B3D5E;
  object-fit: cover; /* Asegura que el video cubra todo el contenedor */
  z-index: -1; /* Envía el video detrás del contenido */
}

/* Contenido superpuesto */
.content-overlay {
  position: relative;
  color: white;
  text-align: center;
  z-index: 1; /* Asegura que el contenido esté sobre el video */
  /* padding: 20px; */
  display: flex;
 align-items: center;
 justify-content: center;
}

.content-overlay h1 {
  margin: 0;
  height: 100%;
  text-align: center;
  align-content: center;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  color: #FFFFFF;
  font-family: Montserrat;
  font-weight: 100;
  
}

/* Overlay oscuro */
.video-background-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(60, 64, 89, 0.3); /* Oscurece el video */
  z-index: 0; /* Asegura que esté detrás del contenido pero delante del video */
}


.d-flex{
  display: flex;
}

.justify-content-between{
  justify-content: space-between ;
}

.justify-content-around{
  justify-content: space-around ;
}

.justify-content-end{
  justify-content: flex-end ;
}

.justify-content-center{
  justify-content: center ;
}

.align-items-center{
  align-items: center;
}

.p-relative{
  position:relative;
}

.p-absolute{
  position:absolute
}

.gap-2{
  gap:2px;
}

.gap-4{
  gap:4px;
}

.gap-8{
  gap:8px;
}

.wd-100{
  width: 100%;
}

.hg-100{
  height: 100%;
}


@media (max-width: 768px) {
  .video-background-container.active {
    background-color: #2B3D5E;
  }
}