* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --color-theme-soft-silver: #e8e8e8;
  --color-theme-dark-blue: #2b3d5e;
  --color-theme-ligth-blue: #6490c7;
  --color-theme-dark-blueLigth: #4672a5;
  --color-theme-sand-light: #f8eac9;
  --color-theme-gray: #d9d9d947;
  --color-theme-white: #ffffff;
  --color-theme-black: #000000;
  --color-theme-black-opacity: #00000099;
  --color-theme-midnight-black: #333333;
  --color-theme-harvest-gold: #b99734;
  --color-theme-pending: #7d1c80;
  --color-theme-cancel: #c6a02f;
  --color-theme-approved: #46ae32;
  --color-theme-rejected: #a93d3f;
  --spacing: 0.25rem;
}

body {
  -webkit-font-smoothing: antialiased; /* Mejora la renderización de fuentes en navegadores WebKit */
  -moz-osx-font-smoothing: grayscale; /* Mejora la renderización de fuentes en Firefox */
  background-color: #ffffff; /* Fondo blanco por defecto */
  line-height: 1.5; /* Espaciado entre líneas */
  overflow-x: hidden; /* Evita el desplazamiento horizontal no deseado */
}

#root {
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% del viewport */
  display: flex;
  flex-direction: column; /* Diseño en columna para facilitar la estructura de la página */
  flex: 1;
  overflow-x: hidden;
}

.color-blue-dark {
  color: var(--color-theme-dark-blue);
}

.color-harvest-gold {
  color: var(--color-theme-harvest-gold);
}

.color-theme-black {
  color: var(--color-theme-black);
}

.color-theme-white {
  color: var(--color-theme-white);
}

.color-black-opacity {
  color: var(--color-theme-black-opacity);
}

.color-theme-midnight-black {
  color: var(--color-theme-midnight-black);
}

.color-blue-ligth {
  color: var(--color-theme-dark-blueLigth);
}

.color-blue-ligth-blue {
  color: var(--color-theme-ligth-blue);
}

.background-harvest-gold {
  background-color: var(--color-theme-harvest-gold);
}
.background-ligth-blue {
  background-color: var(--color-theme-ligth-blue);
}

.background-blue-blueLigth {
  background-color: var(--color-theme-dark-blueLigth);
}

.background-blue-dark {
  background-color: var(--color-theme-dark-blue);
}

.background-gray {
  background-color: var(--color-theme-gray);
}

#searchInput:focus {
  outline: none;
}

#searchInput {
  border: none;
  background: #eae7ef;
  height: 48px;
  width: 100%;
  border-radius: 28px;
  color: #47464f;
  font-size: 16px;
  padding: 0px 20px;
}

.scrollable-container {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Estilos para navegadores WebKit */
.scrollable-container::-webkit-scrollbar {
  width: 12px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Contenedor principal */
.video-background-container {
  position: relative;
  width: 100%;
  height: calc(56.25vw); /* Altura completa de la pantalla */
  overflow: hidden;
  opacity: 1;
  z-index: 1;
  background-color: #3c4059;
  transition: all 0.4s ease;
}

.video-background-container.active {
  /* Define aquí los estilos para el estado activo */
  background-color: rgba(0, 0, 0, 0.2);
}

/* Video de fondo */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2b3d5e;
  object-fit: cover; /* Asegura que el video cubra todo el contenedor */
  z-index: -1; /* Envía el video detrás del contenido */
}

/* Contenido superpuesto */
.content-overlay {
  position: relative;
  color: white;
  text-align: center;
  z-index: 1; /* Asegura que el contenido esté sobre el video */
  /* padding: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-overlay h1 {
  margin: 0;
  height: 100%;
  text-align: center;
  align-content: center;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 100;
}

/* Overlay oscuro */
.video-background-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(60, 64, 89, 0.3); /* Oscurece el video */
  z-index: 0; /* Asegura que esté detrás del contenido pero delante del video */
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-dirrection-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-item-end {
  justify-items: end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.gap-2 {
  gap: 2px;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-50 {
  gap: 50px;
}

.wd-100 {
  width: 100%;
}

.wd-24 {
  width: 24px;
}

.wd-70 {
  width: 70px;
}

.hg-100 {
  height: 100%;
}

.hg-24 {
  height: 24px;
}

.hg-70 {
  height: 70px;
}

.hg-100 {
  height: 100%;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-20 {
  font-size: 20px;
}

.font-weight-600 {
  font-weight: 600;
}

.padding-inline-24 {
  padding-inline: 24px;
}

.margin-0-auto {
  margin: 0px auto;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-buttom-16 {
  margin-bottom: 16px;
}

.margin-buttom-8 {
  margin-bottom: 8px;
}

.text-align-center {
  text-align: center;
}

.ellipsisText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.activeMenuLeft {
  background-color: var(--color-theme-ligth-blue);
  border-radius: 12px 0px 0px 12px;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.hover\:scale-105:hover {
  transform: scale(1.05);
}

.hover\:scale-110:hover {
  transform: scale(1.1);
}

.active\:scale-95:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .video-background-container.active {
    background-color: #2b3d5e;
  }
}
