*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root{
  --backgrounInput :#E8E8E8;
  --blueDark: #2B3D5E;
}


body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

}


#root{
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: hidden;
}