.container-button{
        height: 40px;
        width: 178px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        gap: 8px;
        margin-bottom: 20px;
        .button{
                text-transform: none;
                font-size: 10;
                color: vars(--color-theme-white);
        }
                
}