.principalGrid
        overflow-y: auto
        margin-top: 16px

.BoxContainer
        padding-inline: 32px
        padding-bottom: 16px

.title-reservation
        font-size: 25px
        font-weight: 800

.containerAsesor
        top: 36px
        left: 0
        height: 6px
        width: 90%

.titleAsesor
        font-size: 24px
        font: weight 300px
        moargin-top: 5px
