.container-day-banner {
  padding-block: calc(0.25rem * 6);
  background-color: transparent;
  background-image: url("/images/Banners/IMG_5806.webp");
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
}

.container-day-banner h1,
p {
  color: white;
}

.button-reservation {
  background-color: #ffffff;
  padding-inline: calc(var(--spacing) * 8);
  padding-block: calc(var(--spacing) * 3);
  font-size: 1rem;
  border-radius: 0.5rem;
}

.button-reservation:hover {
  cursor: pointer;
  scale: var(--spacing) var(--spacing);
}

.title-day-banner {
  line-height: 1.1;
  margin-bottom: calc(var(--spacing) * 3);
  text-align: left;
  text-transform: capitalize;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: oklch(93.2% 0.032 255.585);
  line-height: calc(2 / 1.5);
}

.descriotion-day-banner {
  margin-top: calc(var(--spacing) * 8);
  color: white;
  font-size: 1.25rem;
  line-height: 1.6;
  max-width: 800px;
  padding-bottom: 32px;
  font-weight: 500;
}
