.circus-tent {
  position:relative;
  --tw-space-y-reverse: 0;
  margin-top: calc(-1px* calc(1 - 0));
  margin-bottom: calc(-1px* 0);
  overflow: hidden; 
}

.rounded-full{
  border-radius: 9999px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgb(255 255 255 / 1);
  border: 1px solid #e5e7eb;
}

.w-full{
  border: 1px solid #e5e7eb;
  width: 100%;
  height: 2rem; 
  position: relative;
  z-index: 1;
}

.absolute {
  position: absolute;
  --tw-translate-y: 50%;
  transform: translate(0, 50%) rotate(0) skew(0) skewY(0) scaleX(1) scaleY(1);
  display: flex;
  bottom: 0;
   left: -.75rem;
  /* gap: .75rem; */
  z-index: 2;
}