.principal-grid{
        overflow-y: auto;
        margin-top: 16px;
}
        

.box-container{
        padding-inline: 32px;
        padding-bottom: 16px;
}
       

.title-reservation{
        font-size: 25px;
        font-weight: 800;
}
        

.container-asesor {
        top: 36px;
        left: 0;
        height: 6px;
        width: 90%;
}
        

.title-asesor{
        font-size: 24px;
        font: weight 300px;
        margin-top: 5px;
}
       
.title-data-contact{
  font-size:20px;
  font-weight: 500;
  margin-block: 16px
}
        
