.bar-language{
  background-color: #2a2a2a;
  height: 42px;
}


.container-social-media a{
  width: 26px;
  height: 26px;
}

.li-language li{
  cursor: pointer;
  list-style: none;
  text-transform: uppercase;  
  letter-spacing: 0.2rem;
  
}

.title-mangta{
   text-transform: uppercase;
  letter-spacing: 0.7em;
  font-family: Jost ;
  cursor: pointer;
}

.title-mangta a{
  text-decoration: none;
  color: #1C1B21;
}


.navegation-a{
  color: #1d1d1d;
  font-family: Jost !important;
  font-size: 14px;
  letter-spacing: 3px;
  border-radius: 0px;
  line-height: 16px;
  list-style: none;
}

.list-menu-nav .navegation-a::after {
  content: "|";
  margin: 0 20px;
  color:#cbcbcb;
  font-family: Jost;
}

.list-menu-nav .navegation-a::after:last-child {
  content: "";
  margin: 0;
}

.width-nav-80{
  width: 80%;
  margin:auto;
}


.font-family-uppercase{
  font-family: Jost;
  text-transform: uppercase;
}